# Pandas

In [38]:
import numpy as np
import pandas as pd

## 1.Series

> ***s_var = pd.Series(list_col / list__var)***

> ***string is object in series***

> ***values, indexes,  datatype***

In [39]:
s = pd.Series([1,2,3,4])
# print(s)
# print('hi')
s

0    1
1    2
2    3
3    4
dtype: int64

### 1.1. name

-used to give the name for the columns.

In [40]:
s = pd.Series([1,2,3,4],name = 'Values')
s

0    1
1    2
2    3
3    4
Name: Values, dtype: int64

### 1.2. index

-It is used to change the index or labels

-Number of vlaues should equal to number of indexes

In [41]:
scores = pd.Series([250,200,300,70,150],name='Dhoni',index=['1st_match','2nd__match','3rd__match','4th__match','5th__match'])
scores

1st_match     250
2nd__match    200
3rd__match    300
4th__match     70
5th__match    150
Name: Dhoni, dtype: int64

### 1.3. Indexing

-if you are changing the labels then use labels insted of index(it gives future warning)

> ***-Syntax : col[index]***

In [42]:
print(scores['4th__match'])
# print(scores[2])

70

In [43]:
scores['1st__match']=120
print(scores['1st__match'])

120

### 1.4 Accessing indexes only

> ***-Syntax : s_var.index***

In [44]:
scores.index

Index(['1st_match', '2nd__match', '3rd__match', '4th__match', '5th__match',
       '1st__match'],
      dtype='object')

### 1.5 Accessing values only

> ***-Syntax : s_var.values***

In [45]:
scores.values

array([250, 200, 300,  70, 150, 120])

## 2. DataFrame

-It is used to create multiple columns at a time.

> ***-syntax:df_var = pd.DataFrame(dict_var / dic_col)***

###2.0 Creating the dataframe

In [46]:
d = {'name':['shashi','rahul','utsav','suraj'],
     'age':[23,22,27,21],
     'bday':[27,17,10,10]}
dummy = pd.DataFrame(d)
dummy

     name  age  bday
0  shashi   23    27
1   rahul   22    17
2   utsav   27    10
3   suraj   21    10

### 2.1 Accesing the colums

> ***-Syntax: df.var['col_name']***

In [47]:
dummy['name']

0    shashi
1     rahul
2     utsav
3     suraj
Name: name, dtype: object

### 2.2 Accesing the colum's values

> ***-Syntax: df.var['col_name'][index]***

In [48]:
dummy['name'][2]

'utsav'

### 2.3 Modification

> ***-Syntax: df.var['col_name'][inxed] = newvalues***

In [49]:
dummy['age'][22] = 23

/tmp/ipython-input-2525249699.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dummy['age'][22] = 23
/tmp/ipython-input-2525249699.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dummy['age'][22] = 23

### 2.4 Adding the new colums into dataframe

> ***Syntax: df.var['new_col_name'] = [val1,val2,...,valN]***

In [50]:
dummy['bloodGroup'] = ['O-','B+','A+','O-']
dummy

     name  age  bday bloodGroup
0  shashi   23    27         O-
1   rahul   22    17         B+
2   utsav   27    10         A+
3   suraj   21    10         O-

## 3. Reding the files

-Syntax:

> ***1. CSV->  pd.read_csv(filepath.csv / filename.csv)***

> ***2. Excel->  pd.read_excel(filepath.xlsx / filename.xlsx)***

> ***3. html->  pd.read_html(filepath.html / filename.html)***

In [51]:
dft = pd.read_csv('https://raw.githubusercontent.com/rajeevratan84/datascienceforbusiness/master/titanic.csv')
dft

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1304,3,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,0

## 4. Fuction in DataFrame

### 4.1  head()

Used to fetch rows from top to bottom.

By default, it returns 5 rows.

#### syntax:-

> ***1. df_var.head()***

> ***2. df_var.head(number_of_rows)***

In [76]:
dft.head()
# dft.head(9)

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0

###4.2 tail()

Used to fetch rows from bottom to top.

By default, it returns 5 rows.

#### syntax:-

> ***1. df_var.tail()***

> ***2. df_var.tail(number_of_rows)***

In [74]:
# dft.tail()
dft.tail(7)

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
1302,3,"Yousif, Mr. Wazli",male,NaN,0,0,2647,7.2250,NaN,C,0
1303,3,"Yousseff, Mr. Gerious",male,NaN,0,0,2627,14.4583,NaN,C,0
1304,3,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27.0,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.8750,NaN,S,0

###4.3 info()

A function that returns information of data-file.

#### Syntax:

>***1. df_var.info()***

In [99]:
dft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   name      1309 non-null   object
 2   sex       1309 non-null   object
 3   age       1046 non-null   float64
 4   sibsp     1309 non-null   int64
 5   parch     1309 non-null   int64
 6   ticket    1309 non-null   object
 7   fare      1308 non-null   float64
 8   cabin     295 non-null    object
 9   embarked  1307 non-null   object
 10  survived  1309 non-null   int64
dtypes: float64(2), int64(4), object(5)
memory usage: 112.6+ KB

###4.4 describe()

A function that returns statistical summary of numerical columns.

For object (string) columns, we must use include="object".

#### Syntax:

>***1. df_var.describe()  -----> numeric columns only***          

>***2. df_var.describe(include=object)  --------> object columns***

In [80]:
# dft.describe()
dft.describe(include=object)

                    name   sex    ticket        cabin embarked
count               1309  1309      1309          295     1307
unique              1307     2       929          186        3
top     Kelly, Mr. James  male  CA. 2343  C23 C25 C27        S
freq                   2   843        11            6      914

###4.5 shape

A variable/attribute (not a function).

Returns (rows, columns) of the DataFrame.

#### Syntax:

> ***df_var.shape***

In [81]:
dft.shape

(1309, 11)

###4.6 columns

A variable/attribute that returns all column names.

#### Syntax:

> ***df_var.columns***

In [88]:
# dft.columns
# dft.columns[3]
dft.columns[:6]

Index(['pclass', 'name', 'sex', 'age', 'sibsp', 'parch'], dtype='object')

### 4.7 unique()

A function that returns all unique values in a column.

#### Syntax:

> ***df_var['column_name'].unique()***

In [91]:
# dft['pclass'].unique()
dft['sex'].unique()

array(['female', 'male'], dtype=object)

### 4.8 value_counts()

Returns the frequency (count) of each unique value.

#### Syntax:

> ***df_var['column_name'].value_counts()***

In [98]:
dft['sex'].value_counts()
# dft['sex'].value_counts().index[0]

sex
male      843
female    466
Name: count, dtype: int64

### 4.9  sort-values()

Used to sort values in ascending or descending order.

#### syntax:-

> ***1. df_var['colName'].sort_values(ascending=false)  ------>for single column***

> ***2. df_var.sort_values(by = 'colName',ascending=boolval)   ------>for entire columns***

> ***3. df_var.sort_values(by=['col1','col2',.....,'colN'],ascending=(bool1,bool2,....,boolN))  ------>for multiple columns***

In [53]:
d={'a':[90,10,20,5,90,60,90,60,35],'b':[30,25,15,22,60,35,30,12,75],'c':[75,25,15,35,5,85,90,27,100]}
dummys=pd.DataFrame(d)
dummys

    a   b    c
0  90  30   75
1  10  25   25
2  20  15   15
3   5  22   35
4  90  60    5
5  60  35   85
6  90  30   90
7  60  12   27
8  35  75  100

In [54]:
# sorting one columns ascending order
dummys['a'].sort_values()

3     5
1    10
2    20
8    35
7    60
5    60
4    90
0    90
6    90
Name: a, dtype: int64

In [55]:
# sorting one columns descending order
dummys['a'].sort_values(ascending=False)

0    90
4    90
6    90
5    60
7    60
8    35
2    20
1    10
3     5
Name: a, dtype: int64

In [56]:
# sorting all columns
dummys.sort_values(by='b')

    a   b    c
7  60  12   27
2  20  15   15
3   5  22   35
1  10  25   25
0  90  30   75
6  90  30   90
5  60  35   85
4  90  60    5
8  35  75  100

In [57]:
dummys.sort_values(by=['a','b','c'],ascending=(True,False,True))

    a   b    c
3   5  22   35
1  10  25   25
2  20  15   15
8  35  75  100
5  60  35   85
7  60  12   27
4  90  60    5
0  90  30   75
6  90  30   90

## 5 File conversion

####synax:-

> ***1. to_csv('fileName.csv')***

> ***2. to_excel('fileName.xlsx'/'fileName.xls')***

> ***3. to_html('fileName.html')***

In [104]:
To_csv = dummys.to_csv('dummys.csv')
To_excel = dummys.to_excel('dummys.xlsx')
To_html = dummys.to_html('dummys.html')

None

## 6 slicing

###syntax:-

> ***1. Single-Column : df_var['colName'][si:ev+1:stepVal]***

> ***2. Mutliple-Column : df_var[['colName1','colName2',....,'colNameN']][si:ev+1:stepVal]***

> ***3. All-the-Column : df_var[si:ev+1:stepVal]***

In [107]:
#single column
dft['name'][20:40:3]

20                Beckwith, Mr. Richard Leonard
23                        Bidois, Miss. Rosalie
26                      Bishop, Mr. Dickinson H
29    Bjornstrom-Steffansson, Mr. Mauritz Hakan
32                      Bonnell, Miss. Caroline
35                     Bowen, Miss. Grace Scott
38                      Brady, Mr. John Bertram
Name: name, dtype: object

In [106]:
# Multiple column
dft[['name','pclass','sex','age']][10:20:3]

                            name  pclass     sex   age
10        Astor, Col. John Jacob       1    male  47.0
13  Barber, Miss. Ellen "Nellie"       1  female  26.0
16      Baxter, Mr. Quigg Edmond       1    male  24.0
19          Beattie, Mr. Thomson       1    male  36.0

In [105]:
# All-the-column
dft[10:30:3]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
10,1,"Astor, Col. John Jacob",male,47.0,1,0,PC 17757,227.5250,C62 C64,C,0
13,1,"Barber, Miss. Ellen ""Nellie""",female,26.0,0,0,19877,78.8500,NaN,S,1
16,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C,0
19,1,"Beattie, Mr. Thomson",male,36.0,0,0,13050,75.2417,C6,C,0
22,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1
25,1,"Birnbaum, Mr. Jakob",male,25.0,0,0,13905,26.0000,NaN,C,0
28,1,"Bissette, Miss. Amelia",female,35.0,0,0,PC 17760,135.6333,C99,S,1

## 7 loc VS iloc

1. Ending Value Inclusion:
    - "**loc**": The ending value is included.
    - "**iloc**": The ending value is excluded.
2. Column Slicing:
    - "**loc**": Column slicing is possible.
    - "**iloc**": Column slicing is possible.
3. Acceptance of Column Names/Slicing:
    - "**loc**": It accepts 'col. Names' but doesn't accept column slicing in the same way "iloc" does; however, it is possible to slice using column names.
    - "**iloc**": It doesn't accept 'col. Names' but accepts column slicing using integer positions

### 7.1 loc

####syntax:-

> ***1. df_var.loc[rowSlicing,['colName1','colName2',....,'colNameN']]***

> ***2. df_var.loc[[rowindex1,rowindex2,....,rowindexN],['colName1','colName2',....,'colNameN']]***

In [62]:
# rowSlicing using loc
dft.loc[0:500:5,['name','pclass','sex','age']]

                                       name  pclass     sex   age
0             Allen, Miss. Elisabeth Walton       1  female  29.0
5                       Anderson, Mr. Harry       1    male  48.0
10                   Astor, Col. John Jacob       1    male  47.0
15                      Baumann, Mr. John D       1    male   NaN
20            Beckwith, Mr. Richard Leonard       1    male  37.0
..                                      ...     ...     ...   ...
480  Laroche, Mr. Joseph Philippe Lemercier       2    male  25.0
485                  Levy, Mr. Rene Jacques       2    male  36.0
490                       Mack, Mrs. (Mary)       2  female  57.0
495       Mangiavacchi, Mr. Serafino Emilio       2    male   NaN
500                 McKane, Mr. Peter David       2    male  46.0

[101 rows x 4 columns]

In [63]:
# row-index using loc
dft.loc[[1,56,5,27,10],['name','pclass','sex','age']]

                                       name  pclass     sex      age
1            Allison, Master. Hudson Trevor       1    male   0.9167
56               Carter, Mr. William Ernest       1    male  36.0000
5                       Anderson, Mr. Harry       1    male  48.0000
27  Bishop, Mrs. Dickinson H (Helen Walton)       1  female  19.0000
10                   Astor, Col. John Jacob       1    male  47.0000

### 7.2 iloc

####syntax:-

> ***1. df_var.iloc[rowSlicing,colSlicing]***

> ***2. df_var.iloc[[rowindex1,rowindex2,....,rowindexN],[colIndex1,colIndex2,....,colIndexN]]***

In [64]:
dft.iloc[1:10:,0:11:2]

   pclass     sex  sibsp    ticket    cabin  survived
1       1    male      1    113781  C22 C26         1
2       1  female      1    113781  C22 C26         0
3       1    male      1    113781  C22 C26         0
4       1  female      1    113781  C22 C26         0
5       1    male      0     19952      E12         1
6       1  female      1     13502       D7         1
7       1    male      0    112050      A36         0
8       1  female      2     11769     C101         1
9       1    male      0  PC 17609      NaN         0

In [65]:
dft.iloc[[1,10,20,30],[1,2,3,4]]

                              name   sex      age  sibsp
1   Allison, Master. Hudson Trevor  male   0.9167      1
10          Astor, Col. John Jacob  male  47.0000      1
20   Beckwith, Mr. Richard Leonard  male  37.0000      1
30    Blackwell, Mr. Stephen Weart  male  45.0000      0

## 8 Boolen Filetring

This process is used to fetch the data using condition.

####Syntax:

> ***1. codition***

> ***2. df_var[condition]***

> ***3. df_var[colName][condition]***

> ***4. df_var[colName1,colName2,...,colNameN][condition]***

> ***5. df_var[(condition1) oprator{&,|} (condition2)...opr{&,|} (conditionN)]***

> ***6. df_var[colName1,colName2,...,colNameN][(condition1) opr{&,|} (condition2)...opr{&,|} (conditionN)]***

> ***7. df_var[[colName].isnull()]***

> ***8. df_var[[colName].notnull()]***

In [66]:
dft['sex'] == 'male'

0       False
1        True
2       False
3        True
4       False
        ...
1304    False
1305    False
1306     True
1307     True
1308     True
Name: sex, Length: 1309, dtype: bool

In [67]:
dft[dft['sex'] == 'male']

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
5,1,"Anderson, Mr. Harry",male,48.0000,0,0,19952,26.5500,E12,S,1
7,1,"Andrews, Mr. Thomas Jr",male,39.0000,0,0,112050,0.0000,A36,S,0
9,1,"Artagaveytia, Mr. Ramon",male,71.0000,0,0,PC 17609,49.5042,NaN,C,0
...,...,...,...,...,...,...,...,...,...,...,...
1302,3,"Yousif, Mr. Wazli",male,NaN,0,0,2647,7.2250,NaN,C,0
1303,3,"Yousseff, Mr. Gerious",male,NaN,0,0,2627,14.4583,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,0

In [68]:
dft['name'][dft['sex'] == 'male']

1             Allison, Master. Hudson Trevor
3       Allison, Mr. Hudson Joshua Creighton
5                        Anderson, Mr. Harry
7                     Andrews, Mr. Thomas Jr
9                    Artagaveytia, Mr. Ramon
                        ...
1302                       Yousif, Mr. Wazli
1303                   Yousseff, Mr. Gerious
1306               Zakarian, Mr. Mapriededer
1307                     Zakarian, Mr. Ortin
1308                      Zimmerman, Mr. Leo
Name: name, Length: 843, dtype: object

In [69]:
dft[['name','age','sex']][dft['age'] == 14.0]

                                      name   age     sex
55               Carter, Miss. Lucile Polk  14.0  female
513    Nasser, Mrs. Nicholas (Adele Achem)  14.0  female
569            Sweet, Mr. George Frederick  14.0    male
830            Goodwin, Mr. Charles Edward  14.0    male
1057           Nicola-Yarred, Miss. Jamila  14.0  female
1105              Panula, Mr. Jaako Arnold  14.0    male
1236            Svensson, Mr. Johan Cervin  14.0    male
1279  Vestrom, Miss. Hulda Amanda Adolfina  14.0  female

In [70]:
# write a contion to fetch the  data where gender should be female or srvived
dft[(dft['sex'] == 'female') & (dft['survived']==1)]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0,0,0,24160,211.3375,B5,S,1
6,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S,1
8,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0,2,0,11769,51.4792,C101,S,1
11,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0,1,0,PC 17757,227.5250,C62 C64,C,1
12,1,"Aubart, Mme. Leontine Pauline",female,24.0,0,0,PC 17477,69.3000,B35,C,1
...,...,...,...,...,...,...,...,...,...,...,...
1260,3,"Turja, Miss. Anna Sofia",female,18.0,0,0,4138,9.8417,NaN,S,1
1261,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S,1
1286,3,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0,0,0,2688,7.2292,NaN,C,1
1290,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1
1300,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1,0,2659,14.4542,NaN,C,1

In [71]:
# write a contion to fetch the null vlaues from the cabine column
dft['cabin'][dft['cabin'].isnull()]

9       NaN
13      NaN
15      NaN
23      NaN
25      NaN
       ...
1304    NaN
1305    NaN
1306    NaN
1307    NaN
1308    NaN
Name: cabin, Length: 1014, dtype: object

In [72]:
# write a contion to fetch the not null vlaues from the cabine column
dft['cabin'][dft['cabin'].notnull()]

0            B5
1       C22 C26
2       C22 C26
3       C22 C26
4       C22 C26
         ...
1189         G6
1217      F G73
1230         G6
1231         G6
1249        F38
Name: cabin, Length: 295, dtype: object